<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#page {
    align-items: center;
    max-width: 1000px;
}

#boxes {
    display: inline-block;
    padding: 50px;
    background-color: {{color}};
    border: 3px solid black;
    border-radius: 10%;
    width: 100px;
    height: 100px;
    margin: 20px;
}

    </style>
</head>
<body>
    <div id="page">
        <h1>Welcome! Look at these Beautiful Boxes!</h1>
        <div id="container">
            {% for i in range(number) %}
            <div id="boxes"></div>
            {% endfor %}
        </div>
    </div>

</body>
</html>